@font-face {
  font-family: BodoniBold;
  src: url(Bodoni_Bold/Bodoni_Bold.otf);
}
@font-face {
  font-family: Karmella;
  src: url(Karmella_Font/Karmella-Regular400.otf);
}
header {
  margin-bottom: 10%;
}
li {
  margin-left: 2%;
}
ul {
  list-style: none;
  display: flex;
  margin-top: -4%;
  margin-left: -3%;
}
li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #534741;
}
li a:hover {
  color: #5347417e;
  font-style: italic;
}
.category_menu {
  margin-left: 80%;
}
.titel {
  width: 23%;
  margin-left: 38%;
  margin-top: 3%;
}
.titel:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.margin_main {
  margin-left: 22%;
}
.margin_main2 {
  margin-left: 10%;
}
.margin_main3 {
  margin-left: 7%;
  margin-top: 10%;
}
.baggrund {
  background-image: url(imgs/baggrund.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: Karmella;
  color: #534741;
}
.under_categories a:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.under_categories a {
  border: #534741 solid 0.5px;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-right: 15%;
  padding: 1.5em;
  text-decoration: none;
  color: #534741;
  font-size: 25px;
  font-family: Karmella;
  text-align: center;
  border-radius: 1%;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 4%;
}
.grid_1-1-1 img {
  max-width: 80%;
  margin-left: 0%;
}
.grid_1-1-1 img:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.produktnavn {
  line-height: 1.25em;
}
.undertekst {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  margin-right: 20%;
}

.underkategori {
  color: rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}

.r_m {
  text-decoration: underline;
  color: black;
}
.size {
  margin-right: 69%;
  padding: 1.5%;
  background-color: #53474190;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}
.size:hover {
  color: rgba(0, 0, 0, 0.276);
}
.basket {
  background-color: #53474190;
  color: white;
  margin-right: 48%;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 4%;
  font-size: 25px;
  font-family: Karmella;
}
.basket:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.product_information {
  font-size: smaller;
  color: #534741;
  font-family: Arial, Helvetica, sans-serif;
}
.puma {
  margin-left: 7.5%;
  color: #534741;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  font-style: italic;
  font-size: 16px;
  margin-top: -0.5%;
}
.pris {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  color: #534741;
}
.pris2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  color: black;
}
.choose {
  font-family: Arial, Helvetica, sans-serif;
  color: #534741;
}
.line {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2.25%;
  font-style: italic;
  font-size: 12px;
  word-spacing: 1em;
  margin-bottom: 2%;
  margin-top: -2%;
}
.line a {
  color: #534741;
}
.line u:hover {
  color: #5347417e;
}
.back {
  text-decoration: none;
  list-style: none;
}
.back a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #534741;
}
.back:hover {
  font-style: italic;
  color: #5347417e;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sko {
  max-width: 70%;
  margin-left: 10%;
  margin-top: 5%;
}
.soldOut img {
  opacity: 50%;
}

.soldOut::after {
  content: "SOLD OUT";
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: #534741;
  color: white;
  padding: 0.25em;
  top: -92.5%;
  left: 53%;
}

.sale {
  display: none;
}
.sale2 {
  display: none;
}
.sale3 {
  display: none;
}
.style {
  color: #534741;
}
.sale_tekst {
  background-color: #534741;
  color: white;
  padding: 0.25em;
}
.overskrift {
  margin-left: 7.5%;
  margin-bottom: 2.5%;
  margin-top: -3%;
  font-size: 45px;
}
.categories {
  font-size: 45px;
  margin-top: -3%;
}

@media screen and (max-width: 1100px) {
  .baggrund {
    background-image: url(imgs/bg.webp);
    background-repeat: no-repeat;
  }
  .titel {
    width: 50%;
    margin-bottom: 7%;
    margin-top: 3%;
    margin-left: 27%;
  }
  nav ul {
    display: flex;
    margin-left: -4%;
  }
  nav li {
    margin-right: 2.5%;
  }
  nav li a {
    font-size: 11px;
    color: #534741b1;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr;
    width: 75%;
  }
  .back a {
    margin-top: -5%;
    margin-left: 6%;
    font-size: 15px;
    color: #534741a5;
  }
  .categories {
    margin-top: 7%;
    margin-left: 25%;
    font-size: 30px;
  }

  .under_categories a {
    font-size: 15px;
    margin-bottom: 2%;
    margin-right: 0%;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr;
    margin-left: 7%;
  }
  .grid_1-1-1 img {
    max-width: 90%;
    margin-bottom: 5%;
  }
  .overskrift {
    margin-left: 8%;
    margin-bottom: 10%;
    font-size: 30px;
  }
  .undertekst {
    margin-top: -7%;
    margin-bottom: 15%;
    text-align: center;
    font-size: smaller;
    margin-right: 10%;
    border: #5347413d solid 1px;
  }
  .grid_1-1 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10%;
  }
  .grid_1-1 h1 {
    font-size: 20px;
  }
  .line {
    font-size: 10px;
    margin-left: 7%;
    color: #5347418e;
  }
  .line a {
    color: #5347418e;
  }
  .info {
    margin-left: -20%;
  }
  .sko {
    margin-top: 5%;
    max-width: 90%;
    margin-left: -8%;
  }
  .underkategori {
    font-size: 14px;
  }
  .pris {
    font-size: 18px;
  }
  .size {
    grid-row: 2/2;
    margin-left: 2%;
    margin-right: 35%;
    text-align: center;
    margin-bottom: 45%;
    margin-top: -12%;
    font-size: 12px;
  }
  .choose {
    font-size: 16px;
    margin-bottom: -50%;
    margin-right: -3%;
  }
  .basket {
    font-size: 16px;
    text-align: center;
    margin-right: 16%;
    padding: 0.6em;
    margin-top: -7%;
    margin-bottom: 30%;
  }
  .product_information {
    font-size: 11px;
    margin-left: -160%;
  }
  .puma {
    display: none;
  }
  .soldOut img {
    opacity: 50%;
  }

  .soldOut::after {
    content: "SOLD OUT";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #534741;
    background-color: white;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: -3%;
  }
}
