@font-face {
  font-family: BodoniBold;
  src: url(Bodoni_Bold/Bodoni_Bold.otf);
}

li {
  margin-left: 2%;
}
ul {
  list-style: none;
  display: flex;
  margin-top: -3%;
  margin-left: -3%;
}
li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #534741;
}
li a:hover {
  color: #5347417e;
  font-style: italic;
}
.titel {
  width: 20%;
  margin-left: 42%;
  margin-top: 2%;
}
.titel:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.margin_main {
  padding-left: 25%;
}
.margin_main2 {
  padding-left: 10%;
}
.baggrund {
  background-image: url(imgs/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: BodoniBold;
  color: #534741;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 4%;
}
.grid_1-1-1 img {
  max-width: 80%;
  margin-left: 0%;
}
.grid_1-1-1 img:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.produktnavn {
  line-height: 1.25em;
}
.undertekst {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  margin-right: 20%;
}

.underkategori {
  color: rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}

.r_m {
  text-decoration: underline;
  color: black;
}
.size {
  margin-right: 70%;
  padding: 1.5%;
  background-color: #53474190;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}
.size:hover {
  color: rgba(0, 0, 0, 0.276);
}
.basket {
  background-color: #53474190;
  color: white;
  margin-right: 48%;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 4%;
  font-size: 25px;
  font-family: BodoniBold;
}
.basket:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.product_information {
  font-size: smaller;
  color: #534741;
  font-family: Arial, Helvetica, sans-serif;
}
.puma {
  margin-left: 7.5%;
  color: #534741;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  font-style: italic;
  font-size: 16px;
  margin-top: -0.5%;
}
.pris {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  color: #534741;
}
.pris2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  color: black;
}
.choose {
  font-family: Arial, Helvetica, sans-serif;
  color: #534741;
}
.line {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2.25%;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  word-spacing: 1em;
  margin-bottom: 2%;
  margin-top: 5%;
}
.line a {
  color: #534741;
}
.line u:hover {
  color: #5347417e;
}
.line2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 78%;
  margin-bottom: 4%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  word-spacing: 1em;
  margin-top: 5%;
}
.line2 a {
  color: #534741;
}
.line2 u:hover {
  color: #5347417e;
  font-style: italic;
}
.categories {
  margin-top: -6%;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sko {
  max-width: 70%;
  margin-left: 10%;
  margin-top: 5%;
}
.soldOut img {
  opacity: 50%;
}

.soldOut::after {
  content: "SOLD OUT";
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: #534741;
  color: white;
  padding: 0.25em;
  top: -92.5%;
  left: 53%;
}

.sale {
  display: none;
}

.sale2 {
  display: none;
}
.sale3 {
  display: none;
}

@media screen and (max-width: 1100px) {
  .baggrund {
    background-image: url(imgs/bg.png);
    background-repeat: no-repeat;
  }
  .titel {
    width: 40%;
    margin-left: 28%;
    margin-bottom: 7%;
    margin-top: 3%;
  }
  ul {
    display: flex;
    margin-left: -12%;
  }
  li {
    margin-left: 13%;
  }
  li a {
    font-size: 11px;
    color: #534741b1;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr;
    width: 75%;
    border: solid 0.5px #53474159;
    border-radius: 2%;
    margin-bottom: 5%;
    padding-top: 1%;
  }
  .grid_1-1-1 img {
    margin-bottom: -7%;
    margin-left: 5%;
    border-radius: 2%;
  }
  .line2 {
    display: none;
  }
  .categories {
    margin-top: 7%;
    margin-left: 25%;
  }
  .grid_1-1-1_2 {
    grid-template-columns: 1fr;
  }
  .grid_1-1-1_2 img {
    max-width: 60%;
    margin-top: 10%;
    margin-left: 15%;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr;
    margin-left: 10%;
  }
  .grid2_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid2_1-1-1 img {
    max-width: 90%;
    margin-bottom: 5%;
  }
  .grid_1-1-1 img {
    max-width: 90%;
    margin-bottom: 5%;
  }
  .undertekst {
    margin-top: -7%;
    margin-bottom: 10%;
    text-align: center;
    font-size: smaller;
    margin-left: -7%;
  }

  .grid2_1-1 {
    display: block;
  }

  .grid_1-1 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10%;
  }
  .grid_1-1 h1 {
    font-size: 20px;
  }
  .info {
    margin-left: -20%;
  }
  .sko {
    margin-top: 5%;
    max-width: 90%;
    margin-left: -8%;
  }
  .size {
    grid-row: 2/2;
    margin-left: 2%;
    margin-right: 30%;
    text-align: center;
    margin-bottom: 45%;
    margin-top: -15%;
    font-size: 16px;
  }
  .choose {
    font-size: 16px;
    margin-bottom: -50%;
  }
  .basket {
    font-size: 20px;
    text-align: center;
    margin-right: 5%;
    margin-top: -10%;
    margin-bottom: 30%;
  }
  .product_information {
    margin-left: -160%;
  }
  .puma {
    display: none;
  }
  .soldOut img {
    opacity: 50%;
  }

  .soldOut::after {
    content: "SOLD OUT";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #534741;
    background-color: white;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: -3%;
  }
}
